<a href="https://colab.research.google.com/github/Ravalipr/Python--Workshop5days/blob/master/DAY2_SESSION2_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dictionary

#Removes all elements of dictionary dict

In [ ]:
dict = {'Name': 'Zara', 'Age': 7};

print("Start Len : %d" %  len(dict))

dict.clear()

print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

#Returns a list of dict's (key, value) tuple pairs

In [ ]:
dict = {'Name': 'Zara', 'Age': 7}

print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

#Returns a copy of dictionary dict

In [ ]:
dict1 = {'Name': 'Zara', 'Age': 7};

dict2 = dict1.copy()

print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x).

In [ ]:
n=int(input("Enter a number:"))

d={x:x*x for x in range(1,n+1)}

print(d)

Enter a number:4
{1: 1, 2: 4, 3: 9, 4: 16}

#Python Program to Sum All the Items in a Dictionary

In [ ]:
d={'A':100,'B':540,'C':239}

print("Total sum of values in the dictionary:")

print(sum(d.values()))

Total sum of values in the dictionary:
879

#Python Program to Remove the Given Key from a Dictionary

In [ ]:
d = {'a':1,'b':2,'c':3,'d':4}

print("Initial dictionary")

print(d)

key=input("Enter the key to delete(a-d):")

if key in d:

    del d[key]

else:
    print("Key not found!")

    exit(0)

print("Updated dictionary")

print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):b
Updated dictionary
{'a': 1, 'c': 3, 'd': 4}

#Python Program to add name and mark as key->value pair in a Dictionary and print it.

In [ ]:
n=int(input("Enter no of records"))

d={}

for i in range(1,n+1):

    name= input("Enter name %d"%(i))

    mark=int(input("Enter mark %d"%(i)))

    d[name]=mark

    print (d)

Enter no of records2
Enter name 1ravali
Enter mark 120
{'ravali': 20}
Enter name 2rani
Enter mark 230
{'ravali': 20, 'rani': 30}

#Keys and Values example

In [ ]:
d={}

print(" The dictionary elements are")

for i in range(1,21):

  d[i]=i**2

print(d)

    # To print key and values

print(" Key==> Value are")

for (k,v) in d.items():         

  print(k,"==>",v)

  # To print key only

print("\nTo print key only")

for k in d.keys():    

  print(k, end=" ")

  #To print value only

print ("\nTo print values only")

for v in d.values(): 

  print(v, end=" ")

 The dictionary elements are
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
 Key==> Value are
1 ==> 1
2 ==> 4
3 ==> 9
4 ==> 16
5 ==> 25
6 ==> 36
7 ==> 49
8 ==> 64
9 ==> 81
10 ==> 100
11 ==> 121
12 ==> 144
13 ==> 169
14 ==> 196
15 ==> 225
16 ==> 256
17 ==> 289
18 ==> 324
19 ==> 361
20 ==> 400

To print key only
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
To print values only
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400

#Python program to convert 2 digit number into words

In [ ]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\

   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\

   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\

   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

 

num=int(input("Enter the integer between 1 to 99:"))

if (num<=20):

      print(d[num])

if(num>20 and num<100):

        if num%10==0:      

            print(d[num])

        else:

            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:20
twenty



Dictionary Exercises

In [ ]:
#Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("output: ",sorted_a)

Enter no of records2
Enter name 1ravi
Enter mark 123
Enter name 2reka
Enter mark 234
input:  {'ravi': 23, 'reka': 34}
output:  [('reka', 34), ('ravi', 23)]

#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print("output: ",sorted_a)

Enter no of records2
Enter name 1ravi
Enter salary 145
Enter name 2ramya
Enter salary 230000
input:  {'ravi': 45.0, 'ramya': 30000.0}
output:  [('ramya', 30000.0), ('ravi', 45.0)]

#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries

In [ ]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print("output: ",sorted_a)
v = d.values()
print("sum: ",sum(v))
print("max: ",max(v))
print("min: ",min(v))
print("avg: ",(sum(v)/n))

Enter no of records3
Enter name 1raj
Enter salary 120000
Enter name 2rani
Enter salary 2233555
Enter name 3raju
Enter salary 350000
input:  {'raj': 20000.0, 'rani': 233555.0, 'raju': 50000.0}
output:  [('raj', 20000.0), ('raju', 50000.0), ('rani', 233555.0)]
sum:  303555.0
max:  233555.0
min:  20000.0
avg:  101185.0

#Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=int(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
for key,value in d.items():
    if value>=2000 and value<=4000:
         print(d[key],"=",key)

Enter no of records3
Enter name 1raju
Enter salary 130000
Enter name 2rani
Enter salary 23000
Enter name 3pavan
Enter salary 340000
input:  {'raju': 30000, 'rani': 3000, 'pavan': 40000}
3000 = rani